.distance_zh_cn_1{
    margin: 300px 0 0 500px;
}
.distance_zh_cn_2{
    margin: -35px 0 0 845px;
}
.distance_zh_cn_3{
    margin: 0px 0 0 500px;
}
.distance_zh_cn_4{
    margin: 10px 0 0 500px;
    color: #D64249;
}
.mini_tips_1{
    margin: 10px 0 0 492px;
}
.second{
    margin: -160px 0 0 814px;
}